<div class="container">
	<div class="goal-container">
		<div id="my-goal-box">
			<h1 id="my-goals">Goals</h1>
			<%= button_to "Create New Goal" , new_goal_path , :class => "btn btn-info", :method => :get %>
		</div>

		<%= render "goals/goals" %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1 class="dash-goals">Goals</h1>
		</div>
	</div>
</div>