<% @goals.each do |goal| %>
	<div class="goal-box">
		<h2><%= goal.title %></h2>
		<p><%= goal.description %></p>
		<p>I want to accomplish this goal by: <%= goal.end_date %></p>
		<%= link_to "Show Goal", goal_path(goal.id), :class => "show-goal" %>
		<% if goal.completed_at.nil? == true %>
			<p>Goal Accomplished</p>
		<% end %>
	</div>
<% end %>