$red: #ef6e6e;
$blue: #76f0f7;
$fext: #00A5A8;

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Quicksand', sans-serif;
}

/*  NAV BAR */

nav {
	width: 100%;
	height: 70px;
	background-color: $blue;
	position: relative;
	top: 0;
	#logo {
		height: 60px;
		width: 140px;
		float: left;
		margin-left: 20px;
		margin-top: 5px;
		img {
			height: 100%;
			width: 100%;
		}
	}
	ul {
		position: relative;
		text-align: right;
		margin-top: 0;
		li {
			display: inline-block;
			margin-right: 25px;
			margin-top: 20px;
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 900;
				font-size: 1.4em;
				color: $red;
				border-radius: 10px;
				padding: 7px;
				&:hover {
					color: $blue;
					background-color: $red;
				}
			}
		}
	}
}
	
/* ################### */

/* HOME/INDEX GOALS */

.goal-box {
	height: 30%;
	width: 70%;
	border: 1px solid black;
}

/* ################### */

/* Login Root */
#link-box {
	margin-bottom: 10px;
	width: 100%;
	height: 80vh;
}

.field {
	height: 50px;
	width: 20%;
}

.actions {
	height: 50px;
	width: 20%;
}

.login-link {
	display: inline-block;
}

/* ################### */




/* FOOTER */

footer {
	height: 300px;
	width: 100%;
	position: relative;
	bottom: 0;
	background-color: $red;
	#footer-wrapper {
		height: 50%;
		width: 100%;
		position: relative;
		#footer-right {
			height: 100%;
			width: 30%;
			float: right;
			border-right: 2px solid black;
			a {
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				text-align: left;
				color: $blue;
			}
		}
		#footer-left {
			float: left;
			width: 45%;
			height: 100%;
		}
	}
	#social-bar {
		height: 45%;
		width: 100%;
		text-align: center;
		a {
			color: $blue;
			margin: 0 25px;
			i {
				font-size: 50px;
				margin-top: 40px;
			}
		}
	}
}

/* ################### */

#my-goals {
	color: blue;
}