$red: #FFA9A7;
$red-hover: #d18987;
$blue: #76f0f7;
$fext: #28D6DE;
$task-border: #5F89F2;
$task-back: #A6F8FC;
$complete-back: #A6FDAC;
$light-green: #A6FDAC;
$submit-hover: #95db99;
$edit: #FF8E2C;
$edit-hover: #db8843;

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Quicksand', sans-serif;
}

/*  NAV BAR */

nav {
	width: 100%;
	height: 70px;
	background-color: $blue;
	position: relative;
	top: 0;
	#logo {
		height: 60px;
		width: 140px;
		float: left;
		margin-left: 20px;
		margin-top: 5px;
		img {
			height: 100%;
			width: 100%;
		}
	}
	ul {
		position: relative;
		text-align: right;
		margin-top: 0;
		li {
			display: inline-block;
			margin-right: 25px;
			margin-top: 20px;
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 900;
				font-size: 1.4em;
				color: $red;
				border-radius: 10px;
				padding: 7px;
				&:hover {
					color: $blue;
					background-color: $red;
				}
			}
		}
	}
}
	
/* ################### */

/* HOME/INDEX GOALS */

.goal-container {
	margin: 50px auto;
	width: 80%;
	height: 100%;
	text-align: center;
	#my-goal-box {
		#my-goals {
			text-transform: uppercase;
		}
		.create-goal {
			text-decoration: none;
			text-transform: uppercase;
			border: 4px solid $blue;
			background-color: $light-green;
			padding: 10px;
			border-radius: 8px;
		}
	}
	.goal-box {
		height: 30%;
		width: 90%;
		border: 8px solid $blue;
		background-color: $light-green;
		border-radius: 10px;
		margin: 30px auto;
		padding-bottom: 10px;
		.show-goal {
			border: 2px solid $blue;
			border-radius: 8px;
			text-transform: uppercase;
			text-decoration: none;
			background-color: $red;
			color: white;
			padding: 2px;
			&:hover {
				background-color: $red-hover;
			}
		}
		h2 {
			text-transform: uppercase;
		}
	}
}
/* ################### */

/* Login Root */
#link-box {
	width: 100%;
	height: 90vh;
	background: url('/assets/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	#sign-box {
		position: relative;
		top: 50%;
		text-align: center;
	}
}

.field {
	height: 50px;
	width: 20%;
}

.actions {
	height: 50px;
	width: 20%;
}

.login-link {
	display: inline-block;
}

#fb-link {
	background-color: #43609C;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 800;
	font-size: 1.5em;
	padding: 20px;
}

/* ################### */

/* USER DASHBOARD CONTAINER */

.container {
	width: 100%;
	height: 100%;
}

/* #################### */

/* TASKS */

#task-box {
	text-align: center;
	height: 100%;
	width: 85%;
	margin: 0 auto;
	.edit-link {
		text-decoration: none;
		background-color: $edit;
		border: 3px solid $blue;
		border-radius: 6px;
		padding: 8px;
		color: white;
		text-transform: uppercase;
		&:hover {
			background-color: #db8843;
		}
	}
	.task-list {
		height: 100vh;
		overflow: auto;
		padding-top: 15px;
		#my-task {
			margin-top: 30px;
			margin-bottom: 0;
			font-size: 2.5em;
		}
		.tasks {
			border: 10px solid $task-border;
			border-radius: 10px;
			height: 20%;
			width: 90%;
			margin: 23px auto;
			.task-info {
				height: 100%;
				width: 70%;
				background-color: $task-back;
				float: left;
				#task-title {
					.t-title {
						font-size: 20px;
						margin-bottom: 0;
					}
				}
				.edit-task-link {
					text-decoration: none;
					text-transform: uppercase;
					border: 3px solid $task-border;
					border-radius: 4px;
					background-color: $edit;
					color: white;
					padding: 3px;
					margin-bottom: 10px;
					&:hover {
						background-color: #db8843;
					}
				}
			}
			.complete-button {
				background-color: $complete-back;
				height: 100%;
				width: 30%;
				float: right;
				form {
					height: 100%;
					width: 100%;
					input[type=submit] {
						color: blue;
						width: 100%;
						height: 100%;
						background-color: $red;
						font-size: 1.6em;
						font-weight: 700;
						text-transform: uppercase;
						border: none;
						font-family: 'Quicksand', sans-serif;
						&:hover {
							background-color: $task-border;
						}
					}
				}
				p {
					text-transform: uppercase;
					margin-top: 60px;
					font-size: 1.7em;
				}
			}
			.clear {
				clear: both;
			}
		}
	}
	h3 {
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	.new-task-link {
		text-transform: uppercase;
		border: 5px solid $blue;
		text-decoration: none;
		background-color: $red;
		padding: 17px;
		color: white;
		border-radius: 10px;
		&:hover {
			background-color: $red-hover;
		}
	}
	.g-desc {
		margin-top: 45px;
		margin-bottom: 20px;
		#g-desc-title {
			margin-bottom: 0;
		}
	}
	.g-end {
		#date-end {
			margin-top: 2px;
		}
	}
	#fail-div {
		#fail-title {
			color: $red;
		}
	}
	#success-div {
		#success-title {
			color: $submit-hover;
		}
	}
}

#goal-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
}

/* ################### */

/* FORMS FOR GOALS AND TASKS */

.new-title {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 4em;
}

.form-container {
	width: 70%;
	height: 90vh;
	margin: 20px auto;
	text-align: center;
	form {
		width: 100%;
		height: 100%;
		padding-top: 50px;
		.form-title, .form-desc, .form-end {
			text-transform: uppercase;
			font-size: 2em;
		}
		.form-title-input {
			height: 7%;
			width: 70%;
			margin-bottom: 20px;
			font-size: 1.5em;
		}
		.form-desc-input {
			height: 30%;
			width: 70%;
			margin-bottom: 20px;
			font-size: 1.4em;
		}
		.form-end-date {
			height: 5%;
			width: 20%;
			margin-bottom: 28px;
			font-size: 0.9em;
		}
		.goal-submit {
			background-color: $light-green;
			border: 3px solid $task-border;
			border-radius: 10px;
			height: 80px;
			width: 145px;
			font-family: 'Quicksand', sans-serif;
			font-size: 1em;
			text-transform: uppercase;
			&:hover {
				background-color: #95db99;
			}
		}
	}
}

/* ################### */

/* FOOTER */

footer {
	height: 300px;
	width: 100%;
	position: relative;
	bottom: 0;
	background-color: $red;
	#footer-wrapper {
		height: 50%;
		width: 100%;
		position: relative;
		#footer-right {
			width: 30%;
			float: right;
			padding-top: 40px;
			a {
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				text-align: left;
				color: white;
			}
		}
		#footer-left {
			float: left;
			width: 45%;
			height: 100%;
		}
	}
	#social-bar {
		height: 45%;
		width: 100%;
		text-align: center;
		a {
			color: white;
			margin: 0 25px;
			i {
				font-size: 50px;
				margin-top: 40px;
			}
		}
	}
}

/* ################### */