<footer id="newgo-footer">
	<div class="container">
		<div id="footer-left">
		</div>
		<div id="footer-right">
			<a href="#">about</a>
			<a href="#">contact</a>
			<a href="#">careers</a>
			<a href="#">team</a>
		</div>
	</div>	
	<div id="social-bar">
		<a href="#"><i class="fa fa-facebook-official"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-github"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
	</div>
</footer>